*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;

}
/* Primary Page Styling. */
/**********HEADER*************/
header {
  background-color: #FFFFFF; 
}

header #logo {
  height: 5rem;
  width: 10rem;
  float: left;
  margin-top: 1rem;
}

header #logo a{
  color: #E50A13;
  font-size: 3rem;
}

nav{
  display: flex;
  align-items: center;
  justify-content:space-around;
}

ul{
  margin-left: 2rem;
}

li{
 display: inline-block;
 margin-top: 1rem;
 padding: 1rem;
 color: black;
}

nav ul li a {
  text-decoration: none;
}
nav .right-side nav{
  float: right;
}
nav .buy-sell{
  background-color: #073DFC;
  height: 3rem;
  width: 9rem;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 1.5rem;

  margin: 2rem;
}
.material-icons.md-48 { font-size: 48px; 
margin: 2rem;}


/***********Main***************/
main {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  
}
/**************GRAPH canvas*************/
main #graph-canvass{
 display: block;
}
main #graph-canvass #time-frame-wrapper{
  position: relative;
  display: block;
  padding: 1rem;
 
     right: 0;
 

}
main #graph-canvass #time-frame-wrapper a{
  font-size: 1.2rem;
  margin: 0.5rem;
}

/***********Drawing canvas ********/
main #drawing-canvass{
  width: 90vw;
  height: 50vh;
  background:url("https://source.unsplash.com/graph") no-repeat, center, fixed, center/cover;
  
 

}

/*-------------Add Icon ------------------*/
.material-icons.orange600 { color: #16AD1C; }