* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Patua One', cursive;
}

/* Landing page */

#landing {
  background-image: url('https://source.unsplash.com/UXEJDX4SqdE');
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

#landing::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#landing header,
h1,
h2,
p {
  color: whitesmoke;
  font-weight: lighter;
}

#landing #logo {
  font-size: 2rem;
}

#landing .landingcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

#landing .textwrapper {
  max-width: 1200px;
  text-align: center;
  line-height: 4rem;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.719);
}

#landing h1 {
  font-size: 4rem;
}

#landing h2 {
  font-size: 2rem;
}

#landing p {
  font-style: italic;
}

#landing button {
  margin-top: 2.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #db132b;
  color: whitesmoke;
  font-family: inherit;
  font-size: 1.5rem;
  box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  #landing h1 {
    font-size: 2rem;
  }
  #landing h2 {
    font-size: 1rem;
  }
  #landing .textwrapper {
    line-height: 2rem;
  }
}

@media (max-width: 576px) {
  #landing h1 {
    font-size: 1.5rem;
  }
  #landing h2 {
    font-size: 10px;
  }
  #landing .textwrapper {
    line-height: 2rem;
  }
}
